.loginLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    font-size: 1.25rem;
}

.loginLink:hover {
    color: var(--color-indigo-600, #4F39F6);
}