.avatarContainer {
    min-width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--color-indigo-600, #4F39F6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .avatarContainer {
        display: grid;
        place-items: center;
        justify-self: self-end;
        grid-column-start: 4;
        grid-row-start: 2;
    }
}