.searchTittle {
    font-size: 2.25rem;
    font-weight: 500;
    color: var(--color-gray-900, #101828);
    margin-bottom: 1.5rem;
    text-align: center;
    /*text-4xl font-medium text-gray-900 dark:text-gray-100 mb-6 text-center'*/
}

:global(.dark) .searchTittle {
    color: var(--color-gray-100, #F3F4F6);
}

.pageInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    gap: 1.5rem;
}

.line {
    width: 33%;
    height: 2px;
    background: linear-gradient(to right, var(--color-indigo-600, #4F39F6), var(--color-gray-50, #F9FAFB));
}

:global(.dark) .line {
    background: linear-gradient(to right, var(--color-indigo-600, #4F39F6), var(--color-gray-900, #101828));
}

.rightLine {
    transform: rotate(180deg);
}