.searchInput {
    position: relative;
    max-width: 240px;
    min-width: 160px;
    display: grid;
    place-items: center;
    grid-column: span 2 / span 2;
    grid-column-start: 7;

}

.searchIcon {
    position: absolute;
    right: 0.75rem;
    top: calc(1/2 * 100%);
    translate: 0 calc(calc(1/2 * 100%) * -1);
    color: var(--color-gray-400, #99A1AF);
}

@media screen and (max-width: 1024px) {
    .searchInput {
        grid-column-start: 6;
    }
}

@media screen and (max-width: 768px) {
    .searchInput {
        grid-column-start: 5;
    }
}

@media screen and (max-width: 576px) {
    .searchInput {
        grid-column: span 2 / span 2;
        grid-column-start: 2;
        grid-row-start: 2;

    }
}
