@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    background-color: #F5F5F5;
    color: #212121;
}

:root.dark {
    background-color: #121212;
    color: #E0E0E0;
}

body {
    width: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}